* {
  text-decoration: none;
}


header {
  width: 100%;
  background-color: var(--white);
}
/* .lenh:hover {
  background-color: var(--phu-color);
  text-decoration: none;
  transform: scale(1.1);
  color: lightsteelblue;
}

.longcommand {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  padding-top: 4px;
} */
.head {
  width: 100%;
  padding-top: 10px;
  height: 45px;
  background-color: #c8eae3;
  display: flex;
}
.head .icon{
  display: flex;
  flex-direction: column;
  margin-left: 650px;
}
.head h2{
  margin-top: -2px;
  margin-left: 20px;
}
.Lo-Re{
  position: absolute;
}
.icon-product{
  position: absolute;
  margin-left: 260px;
  cursor: pointer;
}
.icon-heart{
  margin-left: -167px;
  color: white;
  cursor: pointer;
  position: absolute;
  margin-top: 9px;
  
}
.icon-menu{
  position: absolute;
  margin-left: -30px;
  cursor: pointer;
}
.icon-instagram{
  position: absolute;
  margin-left: 380px;
  cursor: pointer;
}
.icon-twitter{
  position: absolute;
  margin-left: 410px;
  cursor: pointer;
}
.icon-facebook{
  position: absolute;
  margin-left: 440px;
  cursor: pointer;
}
.icon-instagram :hover{
  color: #9b51e0;
}
.icon-facebook :hover{
  color:#4054B2;
}
.icon-twitter :hover{
  color:#6EC1E4;
}
/* .sreach {
  background-color: #b6d9d2;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding-left: 30px;
}
.sreach::placeholder {
  padding-left: 1px;
}
.icon-sreach {
  padding-top: 4.5px;
  padding-left: 4.5px;
  position: absolute;
  cursor: pointer;
} */

.icon-shopping {
  position: absolute;
  cursor: pointer;
  margin-left: 320px;
  margin-top: 3px;
}
.sreach-bar {
  display: flex;
  flex-direction: row;
}
.img {
  height: 250px;
  width: 175px;
  border-radius: 8px;
}
.icon-home {
  cursor: pointer;
}
.hot-book h3 {
  margin-top: 50px;
  margin-left: 10px;
}
.new-product h3 {
  margin-left: 10px;
  margin-top: 40px;
}
.star{
  padding-left: 38px;
}
.star i {
  color: black;
  width: 6px;
  padding-right: 17px;
}
.price{
  color: gray;
  padding-left: 38px;
  padding-bottom: 5px;
}
.img-prd {
  height: 250px;
  width: 175px;
  border-radius: 5px;
}
.prd1 h5 {
  margin-top: 10px;
  margin-left: 46px;
  cursor: pointer;
}
.list-newbooks {
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}

.containerCardProduct{
  margin: 30px;
  
}
.cheap-product h3 {
  margin-top: 50px;
  margin-left: 10px;
}
.list-cheapbooks {
  margin: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}
#see-more {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
footer {
  width: 100%;
  height: 400px;
}
footer img {
  position: relative;
  width: 100%;
  height: 400px;
  filter: brightness(50%);
}
footer h4 {
  font-family: "Pacifico", cursive;
  color: white;
  position: absolute;
  margin-top: -260px;
  margin-left: 30px;
}
.email {
  font-family: "Pacifico", cursive;
  color: white;
  position: absolute;
  margin-top: -220px;
  margin-left: 30px;
}
.sđt {
  font-family: "Pacifico", cursive;
  color: white;
  position: absolute;
  margin-top: -190px;
  margin-left: 30px;
}
.address {
  font-family: "Pacifico", cursive;
  color: white;
  position: absolute;
  margin-top: -160px;
  margin-left: 30px;
}
.img-product {
  width: 320px;
  height: 450px;
  border-radius: 10px;
  padding-right: 30px;
}
.present {
  margin-top: 10px;
  width: 1170px;
  height: 650px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 50px;
}

.containerBtn {
  display: flex;
  justify-content: space-around;
}
.book-description{
    width: 900px;
    height: 450px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.btn-add {
  font-family: "Patrick Hand", cursive;
  width: 150px;
  height: 40px;
  border: 1.5px solid green;
  border-radius: 10px;
  color: white;
  background-color: green;
  margin-left: 30px;
}
.icon-before {
  color: white;
}
.add-to-cart {
  display: flex;
  flex-direction: row;
}
.up{
  cursor: pointer;
}
.down{
  cursor: pointer;
}
.quantity-value{
  width: 50px;
  height: 40px;
  border-radius: 5px;
  text-align: center;
}
.numbercart {
  background-color: red;
  border-radius: 50px;
}
.aboutus button {
  background-color: #D1BA33;
  border: #D1BA33;
  height: 50px;
  width: 150px;
  color: white;
  margin-left: 100px;
}
.aboutus{
  margin-top: 150px;
  margin-left: 30px;
  height: 250px;
  width: 550px;
  margin-bottom: 150px;
}
.aboutus p {
  color: #545657;
}
.aboutus h5{
  color: #545657;
}
.imgaboutus{
  height: 450px;
  width: 550px;
  margin-left: 550px;
  margin-top: -20px;
  position: absolute;
}
.imgaboutus .img2{
  position: absolute;
  margin-top: 120px;
  height: 250px;
  width: 300px;
}
.img1{
  margin-left: 180px;
  margin-top: -50px;
  height: 450px;
  width: 350px;
}
.see-more{
  width: 200px;
  height: 50px;
  background-color: #1D1E21;
  border: #1D1E21;
  color: white;
}
.blog{
  margin-top: 50px;
  background-color: #efeeee;
}
.blog h1{
  text-align: center;
}
.title-news{
  padding-top: 50px;
  text-align: center;
}
.vacation img{
  height: 300px;
  width: 400px;
  cursor: pointer;
}
.vacation{
  height: 590px;
  width: 400px;
}
.vacation span{
  padding: 2px 15px;
  border: 1px solid #D1BA33;
  background-color: #D1BA33;
  color: white;
  font-size: 16px;
  position: absolute;
  margin-left: -380px;
  margin-top: 10px;
  cursor: pointer;
}
.text-intr-news{
  margin-left: 13px;
  display: flex;
  flex-direction: column;
}
.date-up{
  cursor: pointer;
}
.text-intr-news h3{
  cursor: pointer;
}
.date-up b {
  font-size: 60px;
}
.month{
  position: absolute;
  margin-top: -28px;
}
.text-intr{
  margin-left: 50px;
  margin-top: -120px;
}
.text-intr p {
  margin-top: 10px;
  color: #545657;
  margin-left: 20px;
}
.news{
  margin-top: 40px;
  height: 590px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.start-day img {
  height: 200px;
  width: 200px;
}
.start-day{
  display: flex;
  width: 702px;
}
.date-up-oldnews{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}
.date-up-oldnews p{
  margin-left: 20px;
  cursor: pointer;
}
.month-old {
  margin-right: -16px;
  color: #8F9092;
}
.date-up-oldnews :hover {
  color: #D1BA33;
}
.text-intr-old{
  margin-top: -20px;
}
.old-news{
  display: grid;
}




