* {
  color: black;
  text-decoration: none;
}


header {
  width: 100%;
  background-color: var(--white);
}
.lenh:hover {
  background-color: var(--phu-color);
  text-decoration: none;
  transform: scale(1.1);
  color: lightsteelblue;
}
.longcommand {
  width: 120px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  padding-top: 4px;
}
.head {
  width: 100%;
  padding-top: 10px;
  height: 45px;
  background-color: #c8eae3;
  display: flex;
}
.head .icon{
  display: flex;
  flex-direction: column;
  margin-left: 675px;
}
.head h2{
  margin-left: 20px;
}
.Lo-Re{
  margin-top: -26px;
}
.icon-product{
  margin-left: 280px;
  margin-top: -21px;
  cursor: pointer;
}
.icon-menu{
  margin-left: -200px;
  margin-top: -24px;
  cursor: pointer;
}
.icon-instagram{
  margin-left: 350px;
  margin-top: -24px;
  cursor: pointer;
}
.icon-facebook{
  margin-left: 400px;
  margin-top: -24px;
  cursor: pointer;
}
.icon-instagram :hover{
  color:#9b51e0;
}
.icon-facebook :hover{
  color:#0693e3;
}
/* .sreach {
  background-color: #b6d9d2;
  width: 300px;
  height: 30px;
  border-radius: 5px;
  padding-left: 30px;
}
.sreach::placeholder {
  padding-left: 1px;
}
.icon-sreach {
  padding-top: 4.5px;
  padding-left: 4.5px;
  position: absolute;
  cursor: pointer;
} */

.icon-shopping {
  /* position: absolute; */
  cursor: pointer;
  margin-left: 220px;
  margin-top: 3px;
}
.sreach-bar {
  display: flex;
  flex-direction: row;
}
.img {
  height: 250px;
  width: 175px;
  border-radius: 8px;
}
.icon-home {
  cursor: pointer;
}
.hot-book h3 {
  margin-top: 50px;
  margin-left: 10px;
}
.new-product h3 {
  margin-left: 10px;
}
.star{
  padding-left: 38px;
}
.star i {
  color: black;
  width: 6px;
  padding-right: 17px;
}
.price{
  color: gray;
  padding-left: 38px;
  padding-bottom: 5px;
}
.img-prd {
  height: 250px;
  width: 175px;
  border-radius: 5px;
}
.prd1 h5 {
  margin-top: 10px;
  margin-left: 46px;
  cursor: pointer;
}
.list-newbooks {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.cheap-product h3 {
  margin-top: 50px;
  margin-left: 10px;
}
.list-cheapbooks {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
#see-more {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
footer {
  width: 100%;
  height: 400px;
}
footer img {
  position: relative;
  width: 100%;
  height: 400px;
  filter: brightness(50%);
}
footer h4 {
  font-family: "Pacifico", cursive;
  color: white;
  position: absolute;
  margin-top: -260px;
  margin-left: 30px;
}
.email {
  font-family: "Pacifico", cursive;
  color: white;
  position: absolute;
  margin-top: -220px;
  margin-left: 30px;
}
.sđt {
  font-family: "Pacifico", cursive;
  color: white;
  position: absolute;
  margin-top: -190px;
  margin-left: 30px;
}
.address {
  font-family: "Pacifico", cursive;
  color: white;
  position: absolute;
  margin-top: -160px;
  margin-left: 30px;
}
.img-product {
  width: 320px;
  height: 450px;
  border-radius: 10px;
  padding-right: 30px;
}
.present {
  margin-top: 10px;
  width: 1170px;
  height: 650px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 50px;
}
.book-description {
  padding-top: 20px;
  width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
}
.btn-add {
  font-family: "Patrick Hand", cursive;
  width: 150px;
  height: 40px;
  border: 1.5px solid green;
  border-radius: 10px;
  color: white;
  background-color: green;
  margin-left: 30px;
}
.icon-before {
  color: white;
}
.add-to-cart {
  display: flex;
  flex-direction: row;
}
.add-to-cart {
  display: flex;
  align-items: center;
}
.add-to-cart input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  background: var(--white);
  color: var(--black);
  appearance: none;
  outline: 0;
}
.add-to-cart span {
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: #0052cc;
  user-select: none;
}
.icon-heart1 {
  color: white;
  position: absolute;
  cursor: pointer;
  margin-top: -290px;
  margin-left: 10px;
}
.icon-heart2 {
  color: white;
  position: absolute;
  cursor: pointer;
  margin-top: -290px;
  margin-left: 10px;
}
.icon-heart3 {
  color: white;
  position: absolute;
  cursor: pointer;
  margin-top: -290px;
  margin-left: 10px;
}
.icon-heart {
  color: white;
  position: absolute;
  cursor: pointer;
  margin-top: 10px;
  margin-left: -165px;
}
.new-product {
  margin-top: 40px;
}
